[Unit]
Description=Fake SPARQL server for REGEX queries, connection %i
Documentation=https://github.com/lucaswerkmeister/minisparql/blob/master/README.md

[Service]
ExecStart=/usr/local/lib/minisparql.py
StandardInput=socket
StandardOutput=socket
StandardError=journal

User=nobody
LimitCPU=1s
LimitNPROC=2
ReadOnlyDirectories=/
PrivateTmp=yes
ReadWriteDirectories=/tmp /var/tmp
PrivateDevices=yes
PrivateNetwork=yes
ProtectHome=yes
NoNewPrivileges=yes
RestrictAddressFamilies=
